{{ define "content" }}
  <article class="profile-header">
    <a id="profile-avatar" {{ if not (eq $.Profile.Type "External") }}href="{{ $.Profile.URI | trimSuffix "/twtxt.txt" }}"{{ else }}href="/external?uri={{ $.Profile.URI }}&nick={{ $.Profile.Nick }}"{{ end }} class="u-url">
      {{ if .Profile.Muted }}<i class="ti ti-ismuted"></i>{{ else }}<i class="ti"></i>{{ end }}
      {{ if .Profile.Avatar }}
      <img class="avatar u-photo{{ if .Profile.Muted }} ismuted{{ end }}" {{ if not (eq $.Profile.Type "External") }}src="/user/{{ $.Profile.Nick }}/avatar"{{ else }}src="/externalAvatar?uri={{ $.Profile.URI }}"{{ end }} alt="" loading=lazy />
      {{ else }}
      <i class="ti ti-rss" style="font-size:3em"></i>
      {{ end }}
    </a>
    <hgroup>
      <h3>{{ .Profile.Nick }}</h3>
      <h2>{{ .Profile.URI | hostnameFromURL }}</h2>
    </hgroup>
    <p>{{ if gt (len .Profile.Description) 0 }}{{ .Profile.Description }}{{ else }}<em>No description provided.</em>{{ end }}</p>
  </article>
  {{ if and (.Authenticated) (not (eq .Profile.Nick .User.Username)) }}
  <div class="profile-button">
    <a role="button" class="followBtn" style="display: {{ if not $.Profile.Follows }}inline{{ else }}none{{ end }} !important;" href="/follow?nick={{ .Profile.Nick  }}&url={{ .Profile.URI }}">
      <i class="ti ti-circle-plus"></i> {{ tr . "FollowLinkTitle" }}
    </a>
    <a role="button" class="secondary unfollowBtn" style="display: {{ if $.Profile.Follows }}inline{{ else }}none{{ end }} !important;" href="/unfollow?nick={{ .Profile.Nick  }}">
      <i class="ti ti-circle-minus"></i> {{ tr . "UnfollowLinkTitle" }}
    </a>
    <a role="button" class="muteBtn" style="display: {{ if not $.Profile.Muted }}inline{{ else }}none{{ end }} !important;" href="/mute?nick={{ .Profile.Nick }}&url={{ .Profile.URI }}">
      <i class="ti ti-volume-3"></i> {{ tr . "ProfileMuteLinkTitle" }}
    </a>
    <a role="button" class="secondary unmuteBtn" style="display: {{ if .Profile.Muted }}inline{{ else }}none{{ end }} !important;" href="/unmute?nick={{ .Profile.Nick }}">
      <i class="ti ti-volume"></i> {{ tr . "ProfileUnmuteLinkTitle" }}
    </a>
    <a role="button" class="contrast" href="/report?nick={{ .Profile.Nick  }}&url={{ .Profile.URI }}">
      <i class="ti ti-urgent"></i> {{ tr . "ProfileReportLinkTitle" }}
    </a>
  </div>
  {{ end }}
  <div class="profile-side">
    <article id="profile-info">
      <hgroup>
        <h3>User Info</h3>
        <h2><hr></h2>
      </hgroup>
      {{ template "followStats" (dict "Profile" .Profile "Ctx" .) }}
      {{ if .Authenticated }}
      {{ if not (eq .Profile.Nick .User.Username) }}
      {{ if .Profile.Muted }}<span class="profile-muted"><i class="ti ti-volume-3"></i> {{ tr . "ProfileIsMuted" }}</span>{{ end }}
      {{ if not $.Profile.Muted }}<span class="profile-last-seen"><i class="ti ti-clock"></i> {{ tr . "ProfileLastSeen" }} {{ .Profile.LastSeenAt | lastseen }}</span>{{ end }}
      {{ if .Profile.FollowedBy }}
      <div>
        <b>{{ .Profile.Nick }}</b> {{ tr . "ProfileFollowsYou" }}
      </div>
      {{ else }}
      <div>
        <b>{{ .Profile.Nick }}</b> {{ tr . "ProfileDoesNotFollowYou" }}
      </div>
      {{ end }}
      {{ end }}
      {{ end }}
    </article>
    <article id="profile-links">
      <hgroup>
        <h3>User Links</h3>
        <h2><hr></h2>
      </hgroup>
      <div>
        <ul>
          {{ template "profileLinks" (dict "Profile" .Profile "Ctx" .) }}
        </ul>
      </div>
    </article>
  </div>
  {{ if .Authenticated }}
  <div class="profile-post">
    {{ template "post" (dict "Authenticated" $.Authenticated "User" $.User "TwtPrompt" $.TwtPrompt "MaxTwtLength" $.MaxTwtLength "PostText" $.PostText "Reply" $.Reply "AutoFocus" false "CSRFToken" $.CSRFToken "Ctx" . "view" "profile") }}
  </div>
  {{ end }}
  {{ if gt (len $.Twts) 0 }}
  <div class="profile-recent">
    <h2>{{ tr . "RecentTwtsSummary" (dict "Username" .Profile.Nick) }}</h2>
  </div>
  {{ template "feed" (dict "Authenticated" $.Authenticated "User" $.User "Profile" $.Profile "LastTwt" $.LastTwt "Pager" $.Pager "Twts" $.Twts "Ctx" . "view" "profile") }}
  {{ end }}
{{ end }}
