main.container {
  padding-top: 3rem;
}

article.container-fluid {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1.75rem;
  margin-top: 1rem;
}

article p img {
  display: block;
  margin-top: 0.5rem;
  border-radius: var(--border-radius);
}

article hgroup h3 {
  margin-left: 0px;
}

article hgroup footer {
  margin-left: 60px;
}

article nav li {
  padding: 0rem 0.5rem;
}

article:target {
  border: 1px solid var(--form-element-border-color);
}

article.grid {
  padding: 0.5rem 1rem;
}

.preload * {
  transition: none;
}

.logo {
  height: 56px;
}

.avatar,
.avatar-full {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.avatar-full {
  max-width: none;
}

.ismuted {
  filter: grayscale(1) blur(0.1rem) brightness(0.3);
}

.ti-ismuted {
  position: absolute;
  color: red;
  font-size: 3rem;
  margin-top: 0.2rem;
  margin-left: 0.25rem;
  z-index: 200;
}

.invisible {
  visibility: hidden;
  width: 0;
  height: 0;
}

.invisible.width-none {
  width: 0px;
}

.mobile-menu a {
  display: inline-block;
  margin: -1rem -1rem 0 1rem;
}

.yarn-count-badge {
  background-color: var(--primary);
  color: white;
  border-radius: 100px;
  padding: 0px 4px;
  font-size: 9px;
  position: absolute;
}

.vert-center input {
  margin-top: 0.3rem;
  margin-bottom: -0.3rem;
}

.nav {
  z-index: 1050;
}

.twt-nav {
  margin-left: 0.75rem;
  margin-top: -0.65rem;
}

.twt-nav li {
  margin-right: 1rem;
}

nav.pagination-nav {
  margin: -0.5rem 1rem -1rem 1rem;
}

nav.pagination-nav:nth-of-type(2) {
  margin: -1rem 1rem -2.5rem 1rem;
}

nav.pagination-nav a {
  margin-top: -0.9rem;
}

.toolbar-form-button,
.toolbar-form-button-media {
  width: 0;
}

.toolbar-nav {
  margin: 0 0 -3.75rem 0.25rem;
}

.toolbar-form-button {
  width: 1rem;
  margin-right: 1.2rem;
  margin-top: -2.95rem;
}

.toolbar-form-button-media {
  margin: 0 1.4rem -1.1rem -0.2rem;
}

.submit-bar {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
}

.submit-bar>div {
  flex: 1;
  margin-bottom: -1.75rem;
}

.profile-name {
  margin-bottom: 1rem;
}

.profile-stats {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.profile-stats>div {
  width: 6rem;
  margin-left: 2rem;
  text-align: center;
  line-height: 1.75rem;
}

.profile-last-seen,
.profile-muted {
  display: block;
  padding-top: 0.35rem;
  padding-bottom: 0.35rem;
  font-size: 0.95rem;
  color: var(--color);
}

.profile-tagline {
  margin: 1rem 0 1rem 0;
  color: var(--color);
}

.profile-info {
  color: var(--color);
  border-top: 1px solid var(--muted-border-color);
  margin-top: -0.5rem;
}

.profile-popular {
  font-weight: 600;
  margin-left: -0.1rem;
}

.profile-nofollow {
  font-style: normal;
  margin-top: 0.1rem;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}

.profile-nofollow:first-letter {
  text-transform: capitalize;
}

.profile-links {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1rem 1rem 1rem;
  word-spacing: 100rem;
  text-align: center;
}

.profile-links>a {
  flex: 1;
}

.profile-report {
  margin-bottom: 1rem;
}

.profile-recent {
  margin-bottom: -2rem;
}

.profile-recent h2 {
  font-size: 1.25rem;
}

.feed-flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.75rem;
  margin: -0.25rem 0 -2.75em 0;
}

.feed-flex>div {
  flex-grow: 1;
  flex-basis: 15rem;
}

.feed-gap {
  margin-bottom: 0.5rem;
}

.long-text-wrap {
  color: var(--muted-color);
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.manage-users {
  margin-bottom: 1rem;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
}

.image-inline {
  display: inline-block;
}

.image-gallery div,
.image-inline div {
  margin-bottom: 1.25rem;
}

.center-cropped {
  padding-right: 0.2rem;
}

.center-cropped img {
  margin: -1rem 0 0.25rem 0;
  height: 8rem;
  width: 12rem;
  object-fit: cover;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.caption-wrap {
  position: relative;
}

.caption {
  margin: 0 0 0 0.1rem;
  box-sizing: border-box;
  width: 12rem;
  padding: 10px;
  position: absolute;
  bottom: -1rem;
  background-color: rgba(0, 0, 0, 0.75);
  transition: opacity 0.25s;
  visibility: hidden;
  opacity: 0;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

.caption-wrap:hover .caption {
  color: var(--primary-inverse);
  visibility: visible;
  opacity: 1;
}

figure {
  margin-top: 1.5rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}

figure img {
  display: block;
  margin: 0 auto;
  max-height: 80vh;
}

figure, figcaption {
  background-color: var(--card-background-color);
}

figcaption {
  margin: 0 0 -0.75rem 0.25rem;
}

figcaption #img-dl,
figcaption #img-dl:after {
  margin-left: -0.1rem;
  display: block;
  content: "\A";
}

div .p-summary:not(.image-gallery)>div {
  margin: 1.5rem 0 0.25rem 0;
}

div .p-summary:not(.image-gallery)>.caption-wrap .caption {
  margin-bottom: 1.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-summary ul li,
.p-summary ol li {
  margin: 0 0.5rem;
}

.p-summary br {
  display: none;
}

.p-summary pre:last-child {
  margin-bottom: 1.5rem;
}

.container article.container-fluid:last-child {
  margin: 0 0 -2.75rem 0;
}

audio,
video {
  max-width: 100%;
  width: 100%;
  margin-top: 0.5rem;
}

audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  height: 25px;
}

video {
  object-fit: contain;
  height: auto;
  background: var(--background-color);
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.2);
}

#mainNav {
  margin-top: 0.5rem;
  text-align: center;
}

#uploadMediaButton {
  cursor: pointer;
  color: var(--primary);
}

#uploadMediaButton:hover {
  color: var(--primary-hover);
}

#uploadMediaButton:focus {
  background-color: var(--primary-focus);
}

.textarea-container {
  position: relative;
}

#text {
  resize: vertical;
}

.users-list {
  flex-direction: column;
  position: absolute;
  background-color: var(--background-color);
  border-left: 0.1rem solid var(--form-element-border-color);
  border-bottom: 0.1rem solid var(--form-element-border-color);
  border-right: 0.1rem solid var(--form-element-border-color);
}

.users-list.show {
  display: block;
}

.user-list__user {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 4rem;
  padding: 1rem 1rem;
  box-sizing: border-box;
  max-width: 350px;
  transition: all ease-in-out .25s;
}

.user-list__user.selected {
  cursor: pointer;
  background-color: var(--form-element-border-color);
}

.mentioned-list-content {
  max-height: 12rem;
  overflow: auto;
  cursor: pointer;
}

.user-list__user .avatar {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--muted-border-color);
  margin-right: 1rem;
  background-size: cover;
  pointer-events: none;
}

.user-list__user .info {
  display: flex;
  flex-direction: column;
  pointer-events: none;
}

.user-list__user .nickname,
.user-list__user .info .name,
.user-list__user .info .nickname {
  color: var(--text);
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 600;
  pointer-events: none;
}

.mentioned-list-content::-webkit-scrollbar {
  width: 2px;
}

.mentioned-list-content::-webkit-scrollbar-thumb {
  color: var(--contrast);
}

.captchaInput {
  width: 50%;
}

/* Timeline styline */
.u-author {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.p-name a {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  margin-top: -0.3rem;
  color: var(--primary);
}

.p-name-profile {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: -0.3rem;
  color: var(--primary);
}

.p-name-profile::after {
  content: '\A';
  white-space: pre;
}

.p-org a,
.p-org-profile {
  display: block;
  margin-top: -0.4rem;
  font-size: 0.95rem;
  font-weight: 300;
  color: var(--muted-color);
}

.p-org-profile {
  font-size: 1.15rem;
  font-weight: 300;
}

.author {
  margin-left: 0.5rem;
}

.publish-time {
  margin-top: -0.15rem;
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--primary);
}

.publish-time span {
  color: var(--contrast);
}

[data-tooltip]:not(a):not(button):not(input) {
  border-bottom: none;
}

.feed-gap .p-summary {
  margin-top: -0.5rem;
  padding-bottom: 1.25rem;
  padding-left: 0.25rem;
}

article.no-tb {
  margin-top: -0.1rem;
  border-radius: 0;
  box-shadow: none;
}

article.no-tb:nth-of-type(3) {
  margin-bottom: -0.75rem;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  padding-bottom: 0.5rem;
}

article .p-summary {
  margin-bottom: -1rem;
  padding-top: 0.6rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

/* Video Summary Content Styling */
article .p-summary p video,
article .p-summary p img {
  max-width: 100%;
  padding-bottom: 0.5rem;
}

/* Blockquotes */
article .p-summary blockquote {
  border-left: 5px solid var(--primary);
  margin: 1.5em 10px;
  padding: 0 10px 0 25px;
  position: relative;
}

/* Twt Hash */
.container .h-entry,
.h-feed>div .h-entry {
  margin: 1rem 0;
  padding: 0.75rem 0.75rem 0.5rem 0.75rem;
}

.h-feed article:first-child {
  margin-top: 0;
}

.h-feed .p-summary a em,
em.twt-hash {
  color: darkgray;
  font-style: normal;
  font-weight: 300;
  color: var(--muted-color);
}

em.twt-hash {
  float: right;
  font-size: small;
  padding-top: 0.1rem;
}

.container .h-entry .twt-bookmark,
.h-feed>div .twt-bookmark {
  font-size: 1.1rem;
  padding-left: 0.5rem;
  margin-top: -0.2rem;
  float: right;
}

/* Twt Context */
.h-feed .p-summary a small,
small.twt-context {
  font-style: normal;
  font-weight: 300;
  font-size: 0.825rem;
  color: var(--muted-color);
}

small.twt-context {
  display: block;
  font-size: small;
  margin-top: -0.3rem;
  padding-bottom: 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: dashed 1px var(--form-element-border-color);
}

small.twt-context strong {
  font-weight: 300;
}

.p-summary p:nth-of-type(1) {
  padding-top: 0.25rem;
}

.settingsBtn,
.logoutBtn {
  color: var(--secondary);
}

.settingsBtn:hover,
.logoutBtn:hover {
  color: var(--secondary-hover);
}

#podLogo,
#podMenu {
  display: flex;
  flex: 0;
  margin-bottom: -1.75rem;
}

#podMenu {
  margin-right: 0;
}

#podMenu li,
#podLogo {
  margin-left: 1rem;
}

#podMobile {
  display: none;
}

a[role=button] {
  justify-content: center;
}

.toolbar-reply {
  margin: -1.25rem 0 -3.75rem 1rem;
}

.form-reply {
  margin: 0 0.5rem;
  padding-bottom: 1rem;
}

/* Footer Style */
body>footer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-content: center;
}

footer {
  border-top: 1px solid var(--primary);
  font-size: 0.8rem;
}

footer .footer-menu a {
  margin-left: 0.5rem;
}

footer.container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

pre {
  margin-top: -1rem;
  margin-bottom: 0.25rem;
}

.container-fluid,
#followFeed {
  margin-top: 1rem;
}

.container-fluid hgroup {
  margin-bottom: -0.75rem;
}

.container article {
  padding: 0.5rem 1rem 1.5rem 1rem;
  margin: 1rem 0;
}

.bump-up {
  padding-top: 1rem;
}

.highlight {
  border: 0.1rem solid var(--primary);
  box-shadow: 0 0 0.25rem var(--primary);
}

#postbox.drawer {
  margin: -0.9rem 0.5rem 1rem 0.5rem;
  padding-top: 0.7rem;
  background-color: var(--form-element-background-color);
  padding-bottom: 0.35rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  transition: ease-in linear 2s;
  border-style: solid;
  border-color: var(--form-element-focus-color);
  border-width: 0 0.15rem 0.15rem 0.15rem;
}

@media (max-width: 576px) {
  main.container {
    margin-top: -3rem;
  }

  article.container-fluid {
    margin-bottom: 1rem;
  }

  .container-fluid,
  #followFeed {
    margin-top: 0;
  }

  body>footer {
    margin-top: -2.25rem;
  }

  #mainNav {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1rem;
  }

  #podLogo {
    flex: 1;
    align-items: flex-start;
    margin: -0.4rem 0 0 1.15rem;
  }

  #podMobile {
    flex: 0;
    display: inherit;
    font-size: 2rem;
    padding: 0.75rem 0.75rem 1.75rem;
  }

  #podMenu {
    flex: 1 100%;
    display: none;
    margin: 1rem 0 0 1rem;
  }

  #podMenu li {
    vertical-align: top;
    text-align: left;
    margin: 0 0 0.5rem 1.25rem;
  }

  .toolbar-nav {
    margin: -1.6rem 0 -3.75rem 0.5rem;
  }

  .submit-bar>div {
    flex: 1;
    flex-basis: 17.126rem;
    margin-bottom: 0rem;
  }

  .submit-bar>div button {
    margin-bottom: 1rem;
  }

  .toolbar-reply {
    margin: -1.25rem 0 -3.75rem 1rem;
  }

  .form-reply {
    margin: 0 0.5rem -1.75rem 0.5rem;
  }

  [data-tooltip]:not(a):not(button):not(input) {
    border-bottom: none;
  }

  #postbox.drawer {
    margin: -0.9rem 0.25rem 1rem 0.25rem;
  }

  .twt-nav {
    margin-left: 0.25rem;
  }

  .profile-name {
    margin-top: -2rem;
  }

  .profile-last-seen {
    padding-bottom: 0.15rem;
  }

  .ti-message-circle,
  .ti-compass,
  .ti-bell-ringing,
  .ti-rss-nav,
  .ti-settings-nav,
  .ti-door-exit,
  .ti-door-enter,
  .ti-user-plus {
    vertical-align: top;
    font-size: 1.3rem;
  }

  .editBtn,
  .deleteBtn,
  .replyBtn,
  .forkBtn,
  .convBtn {
    font-size: 0;
  }

  .ti-edit,
  .ti-trash,
  .ti-message,
  .ti-messages,
  .ti-message-plus {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.25rem;
  }

  .profile-links a {
    font-size: 0.0009rem;
    color: var(--background-color);
  }

  .profile-post {
    padding-top: 1rem;
  }

  .ti-circle-plus,
  .ti-circle-minus,
  .ti-settings,
  .ti-link-profile,
  .ti-rss-profile,
  .ti-bookmarks {
    font-size: 1.3rem;
    color: var(--primary);
  }

  .yarn-count-badge {
    font-size: 10px;
    margin-left: -1rem;
  }

  .mobile-menu {
    font-size: 2rem;
    padding-top: 0.5rem;
    padding-right: 2rem;
  }

  .podLogo {
    position: absolute;
    margin-top: 0.5rem;
  }

  div.grid {
    margin-top: -1rem;
  }

  div.h-feed-empty:empty {
    margin-top: 2.25rem;
  }

  nav.pagination-nav:nth-of-type(2) {
    margin: -1rem 1rem -1.25rem 1rem;
  }

  nav.pagination-nav {
    margin: -0.5rem 1rem -1rem 1rem;
  }

  .h-feed article:first-child {
    margin-top: 1rem;
  }

  div .h-feed:last-child,
  div .h-entry:last-child {
    margin-bottom: 2.5rem;
  }

  .container article.container-fluid:last-child {
    margin: -1.5rem 0 -0.35rem 0;
  }

  .caption {
    display: none;
  }

  dialog article>footer p {
    padding: 0.5rem 1rem 1.5rem 1rem;
  }

  .bump-up {
    margin-top: -2.9rem !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  main.container {
    margin-top: -2rem;
  }

  body>footer {
    margin-top: -0.5rem;
  }

  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 620px;
  }

  #podLogo {
    margin: 0.05rem 0 0 1.1rem;
  }

  #podMenu {
    margin-top: -1.15rem;
    display: inherit;
  }

  nav.pagination-nav {
    margin: -1.25rem 1rem -1rem 1rem;
  }

  nav.pagination-nav:nth-of-type(2) {
    margin: -1rem 1rem -2rem 1rem;
  }

  .toolbar-reply {
    margin: -1.25rem 0 -3.75rem 1rem;
  }

  .form-reply {
    margin: 0 0.5rem;
    padding-bottom: 0.5rem;
  }

  .timelineBtn,
  .discoverBtn,
  .mentionsBtn,
  .feedsBtn,
  .settingsBtn,
  .logoutBtn,
  .loginBtn,
  .registerBtn {
    display: flex;
    font-size: 0;
  }

  .ti-message-circle,
  .ti-compass,
  .ti-bell-ringing,
  .ti-rss-nav,
  .ti-settings-nav,
  .ti-door-exit,
  .ti-door-enter,
  .ti-user-plus {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.3rem;
  }

  .profile-links a {
    font-size: 0.0009rem;
    color: var(--background-color);
  }

  .ti-circle-plus,
  .ti-circle-minus,
  .ti-settings,
  .ti-link-profile,
  .ti-rss-profile,
  .ti-bookmarks {
    font-size: 1.3rem;
    color: var(--primary);
  }

  .submit-bar>div {
    flex: 1;
    flex-basis: 15.5rem;
    margin-bottom: 0rem;
  }

  .submit-bar>div button {
    margin-bottom: -0.25rem;
  }

  .container article.container-fluid:last-child {
    margin: 0 0 -1rem 0;
  }

  dialog article>footer p {
    padding: 0.5rem 1.5rem 2rem 1.5rem;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 820px;
  }

  #podMenu {
    display: inherit;
  }

  footer .footer-menu a {
    margin-left: 0.25rem;
  }

  nav.pagination-nav:nth-of-type(2) {
    margin: -1rem 1rem -2.5rem 1rem;
  }

  .container article.container-fluid:last-child {
    margin: 0 0 -1.4rem 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 990px;
  }

  #podLogo {
    margin-top: -0.05rem;
    margin-left: 0.95rem;
  }

  #podMenu {
    display: inherit;
  }

  nav.pagination-nav:nth-of-type(2) {
    margin: -1rem 1rem -3.25rem 1rem;
  }

  .container article.container-fluid:last-child {
    margin: 0 0 -2.4rem 0;
  }
}

@media (min-width: 1200px) {
  #mainNav {
    padding-top: 0.5rem;
    margin: 0 auto;
    max-width: 1180px;
  }

  #podLogo {
    margin-top: 1rem;
    margin-left: -0.5rem
  }

  #podMenu {
    display: inherit;
  }

  nav.pagination-nav:nth-of-type(2) {
    margin: -1rem 1rem -4rem 1rem;
  }
}
