.dt-compact {
  margin-left: auto !important;
  text-align: right !important;
}

.dt-compact div:first-of-type {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  color: var(--primary) !important;
  margin: -0.25rem 0 -0.25rem 0 !important;
}

.twt-context {
  padding: 0.45rem 0 0.35rem 0.25rem !important;
}

.twt-nav {
  margin: 1.35rem 0 -0.25rem 0.25rem !important;
  font-size: 0 !important;
}

.twt-nav i {
  font-size: 1.25rem !important;
}

#twt-options {
  margin-left: 0 auto !important;
}

.yarn-count-badge {
  margin-left: -0.5rem !important;
}

.avatar:not(#profile-avatar .avatar) {
  width: 2rem !important;
  height: 2rem !important;
  margin-top: -0.25rem !important;
}

.e-content {
  margin: -0.75rem 0 -1rem 0 !important;
}

.toolbar-nav {
  gap: 0 !important;
  margin: 0 0 -0.5rem -0.5rem !important;
}

#postbox:not(.drawer) {
  margin: 1.5rem 0 0 0 !important;
}

#text {
  height: 4.75rem !important;
}

.muteTwtBtn {
  margin-right: 1rem !important;
}

.drawer nav {
  margin-top: -0.5rem !important;
  margin-left: 0 !important;
}

.h-feed article:last-of-type {
  margin-bottom: 0 !important;
}

@media (max-width: 576px) {
  .toolbar-nav {
    flex: 0 !important;
    margin: 0 0 0.5rem 0 !important;
  }

  .drawer nav {
    margin: -0.3rem 0 0.4rem 0.4rem !important;
  }

  .yarn-count-badge {
    margin-left: 0.25rem !important;
  }

  .twt-nav {
    padding-bottom: 0 !important;
  }

  .twt-nav a {
    font-size: 0 !important;
    margin-right: 0.75rem !important;
  }

  .twt-nav a:first-of-type {
    margin-right: 1rem !important;
  }

  .deleteBtn i {
    margin-right: 2rem !important;
  }

  #postbox:not(.drawer) {
    margin: 0.5rem 0 -1rem 0 !important;
  }

  .replyBtn i,
  .convBtn i,
  .forkBtn i,
  .editBtn i,
  .deleteBtn i,
  .muteTwtBtn i,
  .bookmarkBtn i {
    font-size: 1.25rem !important;
  }

  #twt-options {
    margin-top: 0;
    margin-right: -1.5rem;
  }

  #twt-options a:first-of-type {
    margin-right: 0.2rem !important;
  }

  .h-feed article:last-of-type {
    margin-bottom: 0.5rem !important;
  }

  #twt-conv {
    margin-bottom: 0rem !important;
  }

  body > footer {
    padding: 0.75rem !important;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .toolbar-nav {
    flex: 0 !important;
    margin: -1.75rem 0 -0.5rem 0 !important;
  }

  #postbox:not(.drawer) {
    margin: 2.75rem 0 1.5rem 0 !important;
  }

  body > footer {
    margin-top: 1rem !important;
    padding: 0.5rem 0 0.5rem 0 !important;
  }
}

@media (min-width: 769px) {
  body > footer {
    padding: 1rem 0 1rem 0 !important;
  }
}

@media (min-width: 577px) {
  main.container:first-of-type {
    padding-top: 2rem !important;
  }
}
